*{
	margin: 0px;
	padding: 0px;
}
.mainContent{
	padding-left: 20px; 
}
.sidebar{
	 height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
 background-color: rgba(0,0,0, 0.9);
 overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-content{
	position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 28px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.sidebar a:hover, .sidebar a:focus {
  color: #f1f1f1;
}

.logo img{
	height: 80px;
	width: 80px; 
	border: 4px solid black;
	border-radius: 100px;   
	cursor: pointer; 
	display: block;
    margin: auto;
}
.sidebar nav{
	padding: 10px;

}
.sidebar nav li{
	list-style: none;
	font-size: 14px;
	/*font-style: bold; */
	padding: 8px;
	margin: 20px;
	margin-right: 0px;
	margin-left: 0px; 
	font-family: 'Source Sans Pro', sans-serif;
}
.sidebar nav li a{
text-decoration: none; 
color: black; 
}
.sidebar nav li a:hover{
color: white; 
text-decoration-line: underline; 
}

body{
	height: 100vh;
}
.outerBox{
	    width: 100vw;
    height: 80.7vh;
	
}
.infoContainer{
	/*background-color: yellow;*/
	height: 66vh; 
	margin-top: 5vh;
	display: flex;
  flex-direction: row-reverse;
	
}
.devPic img{
	width: 35vw;
	height: 70vh;
	margin-top: 2vh; 
	margin-right: 6vw; 
	/*background-color: red;  */
}
.devInfo{
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center; 
	color: #132d3c;
	margin-right: 4vw;
	margin-top: 5vh;  
	font-weight: 600;
	width: 70vw; 
}

.devInfo span{
	color: darkred; 
}
.container{
	display: flex;
}
.hello{
	font-family: 'Pacifico', cursive;
	font-size: 1.5rem;
	text-align: center; 
}
.name{
	font-family: 'Arvo', serif;
	font-size: 1.2rem;
}
.about{

}
.moreAbout{
	margin-left: 6vw;
	font-size: 12px;
	text-align: center; 
}
.buttons button{
	cursor: pointer; 
border: 2px solid gray; 
border-radius: 7px; 
color: white; 
background-color: grey; 
}

.buttons button:hover{
size: 1.2rem;
border: 2px solid gray; 
border-radius: 7px; 
color: black; 
background-color: whitesmoke; 
}
footer{
	width: 100vw;
	height: 7.2vh ; 
	background-color: black;
	color: white; 
	display: flex;
	justify-content: center; 
	/*top: 100vh; */
}
footer p{
	padding-top: 2vh; 
	
}

/* MEDIA QUERY 1 */

/*
@media (max-width: 936px) {

}
*/


/* CONTACT CSS*/

.main{
	width: 800px;
	height: 93vh;
	flex-wrap: wrap-reverse; 
}
.heading h1{
	text-align: center; 
	padding-top: 1vh;
	margin-bottom: 1vh; 
}
.contactInfo{
	height: auto;  
	display: flex; 
	justify-content: space-around
}
.MyContact{
	height: auto;
	width: 36vw;
	border: 2px solid skyblue;
	border-radius: 50px;
	margin: 4vw;
	margin-top: 2vh; 
	background-color: blueviolet;
}
.MyContact h3{
	text-align: center; 
	margin: 2vw 0;
	font-size: 1.5em;
	color: white;
}
.contContainer{
	    display: flex;
    height: 45vh;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
} 

.phoneImg img {
height: 4vh;
width: 5vh;
/*margin: 2vh 0;*/
border: 2px solid white;
border-radius: 2vh;
}
.phone{
	display: flex;
}
.phoneNo{
	margin: 1vh;
	font-size: 1rem;
	margin-left: 0;
	color: white; 
}
.phoneImg{
	margin: 0 3vh ;
}

.MyContact p{
	text-align: center;
	padding: 0 3vw ;
	color: white;
}
.emailImg img {
    height: 6vh;
    width: 6vh;
    margin: 0vh 2vh;
    border-radius: 2vh;
}
.email{
	display: flex;
}
.emailId{
	margin: 1vh;
	font-size: 0.9rem;
	margin-left: 1vh;
	color: white; 
}
.addressImg img {
height: 5vh;
width: 5vh;
margin: 2vh;
border: 2px solid white;
border-radius: 2vh;
}
.address{
	display: flex;
}
.addressName{
	margin: 3vh;
	font-size: 1rem;
	margin-left: 0;
	color: white; 
}
form{
	width: 69vh; 
}
form div{
	margin: 0.8vh;	
	/*margin-right: 0;*/
}
form input{
width: 27vw; 
}

#help{
	font-size: 11px; 
	color: red;
}
#gridCheck{
	width: 10px;
	height: 10px; 
}
.form-check-label{

	font-size: 12px;
	color: blue;  
}
.btn{
display: block;
margin: auto; 
cursor: pointer;
border: 2px solid darkgray; 
border-radius: 6px;
}
.btn:hover{
color: white;
background-color: black; 
}

/* CSS FOR EDUCATION.HTML*/
.EduCont{
	height: 84.5vh; 
}
.EduContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.EduCont h1{
	text-align: center; 
	margin: 5vh;
	margin-top: 1vh;
	margin-bottom: 1vh; 
	margin-right: 10vw;  
}
.commonInfo{
    width: 70vw;
    border: 2px solid black;
    margin: 10px;
    margin-right: 50px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.commomInAll{
	width: 38vw;
	margin: 11px;
}
.edufoot{
	bottom: 0px;
}

/* CSS FOR SKILL.HTML */

.skillItemOneAtAtime{
	margin: 2vh; 
	align-items: center;
}
.SkillContainer{
	margin: -1vh 4vw;
    height: 76.4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
}
.SkillCont h1{
text-align: center; 
	margin: 1.5vh; 
	margin-bottom: 3vh; 
}
.skillItem img{
	width: 8vw; 
	height: 9vh; 
	margin: 0; 
}

.skill{
	width: 30vw; 
	height: 20px; 
	border: 2px solid black; 
	border-radius: 10px; 
	margin: 4px; 
}
.skHtml{
	width: 26vw; 
	height: 20px;
	border-radius: 8px; 
	margin-left: -1px;
	background-color: #ff2222; 
}
.skCss{
	width: 24vw; 
	height: 20px;
	border-radius: 8px; 
	margin-left: -1px;
	background-color: #ff8900; 
}
.skJs{
	width: 14vw; 
	height: 20px;
	border-radius: 8px; 
	margin-left: -1px;
	background-color: #3ed708;
}
.skCpp{
	width: 24vw; 
	height: 20px;
	border-radius: 8px; 
	margin-left: -1px;
	background-color: #ff8900; 
}
.skDsa{
	width: 18vw; 
	height: 20px;
	border-radius: 8px; 
	margin-left: -1px;
	background-color: #d8ec0e ; 
}
.skVe{
	width: 17vw; 
	height: 20px;
	border-radius: 8px; 
	margin-left: -1px;
	background-color: #72ff00; 
}
.skCaed{
	width: 26vw; 
	height: 20px;
	border-radius: 8px; 
	margin-left: -1px;
	background-color: #ff2b02; 
}
/* CSS FOR PROJECT.HTML*/
.mainContent2{
		  margin: 4vh 4vw;
    height: 81vh;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
}
.blogContainer span{
	font-size: 34px; 
	font-weight: bold; 
	width: 100vw;
	color: black; 
	display: flex;
	justify-content: center; 
}

@media screen and (max-width: 480px) {
  .infoContainer{
  	flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .devPic img{
  	width: 70vw;
  	height: 60vh;
  	margin: 0px;
  }
 .outerBox{
 	height: 180vh;
 }
 .SkillContainer{
 	  display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
 }
 .skillItem img{
 	width: 20vw;  
 }
 .skill{
 	width: 60vw; 
 }
 .skJs{
 	width: 30vw;
 }
 .skCpp{
	width: 45vw;
 }
 .skVe{
	width: 30vw;
 }
 .skHtml{
	width: 55vw;
 }
 .skCss{
 	width: 48vw;
 }
 .skCaed{
 	width: 52vw;
 }
 .skDsa{
 	width: 50vw;
 }
}
@media screen and (max-width: 600px) {
.contactInfo{
	justify-content: space-evenly;
 flex-wrap: wrap;
 margin: 5vw;
}
.MyContact{
	width: 80vw; 
	height: auto; 
}
.contContainer{
	height: auto;
	align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
}